.content-line {
  width: 100%;
  margin: 3rem 0;
  height: .05rem;
  background: #444;
}

.title {
  font-size: 1.1rem;
  color: #555;
  line-height: 3.5rem;
  text-align: center;
}

.content-text {
  font-size: 1rem;
}

.pl-2 {
  padding-left: 2rem; 
  line-height: 1.3rem;
}