.img-logo {
  height: 7rem;
}

.inline-form {
  line-height: 7rem;
}

.btn-search {
  display: inline-block;
  margin-top: 2.2rem;
  margin-left: .5rem;
  height: 2.4rem;
}

.image-display {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-display img{
  width: 140%;
  margin-left: -20%;
  translate: all 3s;
}

.image-footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.btn-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  border: none;
  margin: 0 .2rem;
  outline: none;
  cursor: pointer;
}

.btn-circle:hover {
  background: #4682b4;
}

.btn-active {
  background: #4682b4;
}

.tip {
  visibility: hidden;
  width: 0;
  display: inline-block;
  border-width: .7rem;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.tip-active {
  visibility: visible;
}

.hide {
  display: none;
}

h6 {
  font-size: 2rem;
  padding: 2rem 0 0 0;
}

.line {
  height: 1px;
  width: 40%;
  background: #888;
  margin-top: 1rem;
}

.center-text {
  height: 2rem;
  width: 20%;
  text-align: center;
  word-wrap: break-word;
  font-size: 1.2rem;
}

.flex {
  display: flex;
}

